<!-- Begin | Section [[ Find at scss/frameworks/base/section.scss ]] -->
<section className="section">
    <div className="container">
        <div className="row">
            <div className="col-xl-10 col-lg-11 mx-auto">
                <div className="collapses" id="faqs">
                    <div className="collapse-content">
                        <div className="collapse-header" id="collapse_heading-one">
                            <h5 className="collapse-header-title">
                                <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                                    How to use this theme?
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-one" className="collapse show" aria-labelledby="collapse_heading-one" data-parent="#faqs">
                            <div className="collapse-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div className="collapse-content">
                        <div className="collapse-header" id="collapse_heading-two">
                            <h5 className="collapse-header-title">
                                <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                                    How to integrate this theme into WordPress?
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-two" className="collapse" aria-labelledby="collapse_heading-two" data-parent="#faqs">
                            <div className="collapse-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div className="collapse-content">
                        <div className="collapse-header" id="collapse_heading-three">
                            <h5 className="collapse-header-title">
                                <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-three" aria-expanded="false" aria-controls="collapse-three">
                                    How to change primary color of this theme?
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-three" className="collapse" aria-labelledby="collapse_heading-three" data-parent="#faqs">
                            <div className="collapse-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div className="collapse-content">
                        <div className="collapse-header" id="collapse_heading-four">
                            <h5 className="collapse-header-title">
                                <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-four" aria-expanded="false" aria-controls="collapse-four">
                                    After buying extended license what I get?
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-four" className="collapse" aria-labelledby="collapse_heading-four" data-parent="#faqs">
                            <div className="collapse-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div className="collapse-content">
                        <div className="collapse-header" id="collapse_heading-five">
                            <h5 className="collapse-header-title">
                                <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-five" aria-expanded="false" aria-controls="collapse-five">
                                    What is in the next release?
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-five" className="collapse" aria-labelledby="collapse_heading-five" data-parent="#faqs">
                            <div className="collapse-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End | Section -->
